<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<title>诚也</title>
	<link rel="icon" href="/img/chengye.ico" type="image/x-icon"/> 
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
<header>
	<nav>
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-navbar" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="http://www.chengyetech.com">CY-Tech</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse my-navbar" id="nav-navbar">
	      <ul class="nav navbar-nav">
	        <li><span>用心</span></li>
	        <li><span> | </span></li>
	        <li><span>简洁</span></li>
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<img src="/img/header-background.jpg" id="top-img">
	<div class="container">
		<div class="logo">
			<p><img  src="img/logo.svg" alt=""></p>
		</div>
		
		<div class="cheng" id="cheng">
			<span>诚也科技</span>
		</div>	
		<div class="ggy">
			<span>你的网站想好了吗？</span><span>诚也科技,</span> <span>诚心打造，用心定制,</span>
			<span>服务于创业者们的大学生团队。</span>
		</div>
	</div>	
</header>

<aside>
	<div class="sec-page container-fluid">
		<div class="header">
			<h1>You Need Us</h1>
			<span>项目刚起步</span> <span>没资金</span> <span>外包定制太贵</span> <span>套模板太丑</span>
		</div>
		<div class="find-us">
			<h2>Find Us</h2>
		</div>
		<div class="center">
			<span>价格公道</span>
			<span>交谈方便</span>
			<span>网站优秀</span>		
		</div>
	</div>

	<div class="three-page">
		<div class="header">
			<span>合作案例</span>
		</div>
		<div class="container">
			<div class="row">
	  			
	  			<div class="col-sm-6 col-md-3 anli">
	    			<a href="http://www.tianyinsj.com" class="thumbnail">
	      				<img src="img/tianyin.png" alt="...">
	    			</a>
	    			<div class="title">
	    				<span>深圳市天音水景设计有限公司</span>
	    			</div>
	  			</div>

	  			<div class="col-sm-6 col-md-3 anli">
	    			<a href="http://www.thredim.com" class="thumbnail">
	      				<img src="img/srd.png" alt="...">
	    			</a>
	    			<div class="title">
	    				<span>深圳市视睿迪科技有限公司</span>
	    			</div>
	  			</div>
	  			
	  			<div class="col-sm-6 col-md-3 anli">
	    			<a href="http://www.gxianzj.com" class="thumbnail">
	      				<img src="img/gxzj.png" alt="...">
	    			</a>
	    			<div class="title">
	    				<span>港险之家香港保险公司</span>
	    			</div>
	  			</div>
	  			
	  			
	  			<div class="col-sm-6 col-md-3 anli">
	    			<a href="#" class="thumbnail">
	      				<img src="img/zhengze.png" alt="...">
	    			</a>
	    			<div class="title">
	    				<span>深圳市正则科技有限公司</span>
	    			</div>
	  			</div>
			</div>
		</div>
	</div>

	<div class="four-page">
		<div class="header">
			<span class="at-szu">Contact Us</span>
			<div class="us">							
				<div class="container">
			    	<div class="row">
			    		<div class="col-md-3 col-sm-3"></div>
			    		<div class="col-md-9 col-sm-9">
			    		<p style="text-align: center;"> 
			    			<div class="call-us row">
			    			
				    			<div class="col-md-3 col-sm-3 tel">
				    				<div class="row">
				    					<div class="col-md-3 col-sm-3"><img src="img/QQ.png" alt=""></div>
				    					<div class="col-md-6 col-sm-6"><span>851164343</span></div>
				    				</div>									
								</div>
								<div class="col-md-3 col-sm-3 tel">
				    				<div class="row">
				    					<div class="col-md-3 col-sm-3"><img src="img/mobie.png" alt="" width="30px"></div>
				    					<div class="col-md-6 col-sm-6"><span>18019547190</span></div>
				    				</div>									
								</div>
								<div class="col-md-3 col-sm-3 tel">
				    				<div class="row">
				    					<div class="col-md-3 col-sm-3"><img src="img/email.png" alt="" width="50px"></div>
				    					<div class="col-md-6 col-sm-6"><span>851164343@qq.com</span></div>
				    				</div>									
								</div>
							
							</div>
						</p>
			  			</div>
			  		</div>
					
			    	
			  	</div>
				
			</div>	
		</div>
	</div>
</aside>
<footer>
	<div class="title">诚也科技</div>
	<span>© 2016-3 CY-Tech. All rights resevered</span> <br>
	<span>诚也科技 版权所有</span>
</footer>
<!-- js -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
$(document).ready(function(){
	$(document).scroll(function(event) {
		/* Act on the event */
		var gdt_top = $(document).scrollTop();
   		if(gdt_top > 0) {
    		$('nav').addClass('navbar-fixed-top');
    		$('nav .my-navbar').css({
    		    padding: '0  50px 0 0',
    		});
    	}
    	else {
    		$('nav').removeClass('navbar-fixed-top');
    	}
	});
 	
});
</script>
<!-- -->
</body>
</html>